<div class="container">
  <div class="row">
    <div class="col alphabet after before  alphabetA">A</div>
    <div class="col alphabet after before  alphabetB">B</div>
    <div class="col alphabet after before  alphabetC">C</div>
    <div class="col alphabet after before  alphabetD">D</div>
    <div class="col alphabet after before  alphabetE">E</div>
  </div>
  <div class="row">
    <div class="col alphabet after before  alphabetF">F</div>
    <div class="col alphabet after before  alphabetG">G</div>
    <div class="col alphabet after before  alphabetH">H</div>
    <div class="col alphabet after before  alphabetI">I</div>
    <div class="col alphabet after before  alphabetJ">J</div>
  </div>
  <div class="row">
    <div class="col alphabet after before  alphabetK">K</div>
    <div class="col alphabet after before  alphabetL">L</div>
    <div class="col alphabet after before  alphabetM">M</div>
    <div class="col alphabet after before  alphabetN">N</div>
    <div class="col alphabet after before  alphabetO">O</div>
  </div>
  <div class="row">
    <div class="col alphabet after before  alphabetP">P</div>
    <div class="col alphabet after before  alphabetQ">Q</div>
    <div class="col alphabet after before  alphabetR">R</div>
    <div class="col alphabet after before  alphabetS">S</div>
    <div class="col alphabet after before  alphabetT">T</div>
  </div>
  <div class="row">
    <div class="col alphabet after before  alphabetU">U</div>
    <div class="col alphabet after before  alphabetV">V</div>
    <div class="col alphabet after before  alphabetW">W</div>
    <div class="col alphabet after before  alphabetX">X</div>
  </div>
  <div class="row">
    <div class="col alphabet after before  alphabetY">Y</div>
    <div class="col alphabet after before  alphabetZ">Z</div>
    <div class="row"></div>
    <div class="row"></div>
  </div>
</div>
